<html>
    <head>
        <title>andrei's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">FLC Legion blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Legion has won belarusion floorball league 2016/2017</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Legion is looking forward against new season</p>
        </div>
    </body>
</html>
